[Unit]
Description=Service pour envoyer des informations système au broker MQTT
After=network.target

[Service]
ExecStart=/usr/local/bin/client_report_monitor.sh
Restart=always

[Install]
WantedBy=multi-user.target
