[Unit]
Description=Service Corps Map pour lancer et fermer des stream et reload corps map
After=network.target

[Service]
ExecStart=/usr/local/bin/corps_map.sh
Restart=always

[Install]
WantedBy=multi-user.target
