[Unit]
Description=Service pour écouter sur le topic /client/info et mettre à jour un fichier JSON avec les informations des clients
After=mosquitto.service

[Service]
ExecStart=/usr/local/bin/mqtt_pass_transfert.sh
Restart=always

[Install]
WantedBy=multi-user.target
