[Unit]
Description=Service pour transferet le changement du pass sur le topic /client/pass et mettre à jour un fichier JSON  'pass.json'
After=mosquitto.service

[Service]
ExecStart=/usr/local/bin/mqtt_pass_transfert.sh
Restart=always

[Install]
WantedBy=multi-user.target
