[Unit]
Description=Service pour demarer NodeJs
After=network.target

[Service]
ExecStart=node /var/www/html/server.js
Restart=always

[Install]
WantedBy=multi-user.target
