[Unit]
Description=Service pour lancer le serveur de redirection pour ffmpeg des url 
After=mosquitto.service

[Service]
ExecStart=/usr/bin/python3 /root/utilus/util_url.py
Restart=always

[Install]
WantedBy=multi-user.target
